body {
    background-color: rgb(238, 209, 174);

    main {
        margin: 18em auto;
        height: 50%;
        width: 70%;
        padding: .5em;
        border: 1px solid grey;
        text-align: center;

        section {
            h4 {
                margin-bottom: .5em;
            }
        }
    }
}
